.xl-text {
    font-size: 65px;
  }
  
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url('/moodybackground.png') left center no-repeat;
    background-size: cover;
    height: 600px;
  }
  
  .vertical-decoration {
    top: 12%;
    width: 24px;
  }
  
  .hr-heading {
    display: inline-block;
    width: 3.5rem;
    height: 0.125rem;
    margin-top: 0.625rem;
    border: none;
    background-color: var(--bs-primary);
    opacity: 1;
  }