/* You can add global styles to this file, and also import other style files */
$primary: #44CF6C;
$light: #AFD2E9;
$dark: #505168;
$secondary: #34a153;











@import '../node_modules/bootstrap/scss/bootstrap';