
  
  .hero-background {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url('/moodybackground.png') left center no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    z-index: 1;
  }
  
