<header
  class="header position-relative overflow-hidden bg-light m-5 rounded-5 d-flex justify-content-center align-items-center"
>
  <img
    src="/decoration-right.svg"
    alt="decorative banner"
    class="decoration-right position-absolute z-1"
  />
  <div
    class="container position-relative header-container z-3 d-flex justify-content-center"
  >
    <div class="row my-3">
      <div class="col-xl-4 d-none d-sm-flex justify-content-center">
        <img
          class="rounded-5 m-3 img-fluid plane"
          src="/hiker.jpg"
          alt="Aeroplane"
        />
      </div>
      <div class="col-xl-8 header-text intro">
        <h1 class="xl-text mt-3 heading">
          Welcome to <span style="color: #5e675d">Peaks</span> &
          <span style="color: #389135">Pathways</span>! 🌍
        </h1>
        <p class="lead mb-4 body">
          Hi there, adventurer! Whether you're an avid hiker, a nature lover, or
          someone who enjoys the occasional city escape, you've come to the
          right place. Our blog is dedicated to exploring the great
          outdoors—from epic hikes and serene trails to breathtaking natural
          wonders—alongside curated city break ideas for when you crave a touch
          of urban adventure. Join us as we share practical tips, inspiring
          stories, and hidden gems to help you plan your next unforgettable
          journey. Let’s make every step an adventure! Happy travels, Carlos &
          Sam xxx
        </p>
      </div>
    </div>
  </div>
</header>

<div class="d-flex justify-content-center align-text-center">
  <section
    id="stats"
    class="container position-relative px-0 m-5 mt-0 w-100 stats rounded-5"
  >
    <div class="row my-3">
      <div class="col-md-3 col-sm-6 text-center">
        <h2
          #counter
          class="counter xl-text heading text-primary"
          data-target="12"
        ></h2>
        <p class="lead heading fw-bold">COUNTRIES</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <h2
          #counter
          style="color: #00b5a7"
          class="counter xl-text"
          data-target="28"
        ></h2>
        <p class="lead heading fw-bold">CITIES</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <h2
          #counter
          style="color: #0094af"
          class="counter xl-text"
          data-target="20"
        ></h2>
        <p class="lead heading fw-bold">NATIONAL PARKS</p>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <h2
          #counter
          style="color: #467193"
          class="counter xl-text"
          data-target="42"
        ></h2>
        <p class="lead heading fw-bold">SUMMITS</p>
      </div>
    </div>
  </section>
</div>

<section
  class="top-cards d-flex justify-content-center align-items-center flex-column"
>
  <div class="cards-heading mb-5">
    <h2 class="heading text-center position-relative">
      TAKE A LOOK AT OUR <span class="text-primary">CURRENT</span> FAVOURITES:
    </h2>
  </div>
  <div
    class="container cards-container m-5 mt-0 d-flex justify-content-center align-items-center"
  >
    <div class="row g-5">
      <div class="col-xl-3 centralise col-md-6">
        <div class="card border-0 rounded-5" style="background-color: #467193">
          <img
            src="/tallinn.jpg"
            alt="City Picture"
            class="card-img-top img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title heading">CITY BREAKS</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 centralise col-md-6">
        <div class="card border-0 rounded-5" style="background-color: #0094af">
          <img
            src="/hiking-trail.webp"
            alt="City Picture"
            class="card-img-top img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title heading">HIKES</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 centralise col-md-6">
        <div class="card border-0 rounded-5" style="background-color: #00b5a7">
          <img
            src="/road-trip.jpg"
            alt="City Picture"
            class="card-img-top img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title">ROAD TRIPS</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 centralise col-md-6">
        <div class="card border-0 rounded-5 bg-primary">
          <img
            src="/hidden-gem.webp"
            alt="City Picture"
            class="card-img-top img-fluid"
          />
          <div class="card-body">
            <h5 class="card-title">HIDDEN GEMS</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="container carousel-container rounded-5 d-flex justify-content-center my-5"
>
  <div class="row">
    <div class="col-12 w-100 h-100">
      <carousel class="w-100 h-100" [noPause]="false">
        <slide>
          <img
            class="rounded-5 carousel-img w-100 h-100"
            src="/lisboa.jpeg"
            alt="First slide"
            style="display: block; width: 100%"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img
            class="rounded-5 carousel-img w-100 h-100"
            src="/viru.jpeg"
            alt="Second slide"
            style="display: block; width: 100%"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img
            class="rounded-5 carousel-img w-100 h-100"
            src="/asia.jpeg"
            alt="Third slide"
            style="display: block; width: 100%"
          />
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<!-- <div class="bg-light rounded-5 position-relative carousel-container m-5 p-5">
  <img
    src="/decoration-right.svg"
    alt="decorative banner"
    class="decoration-right position-absolute z-1"
  />
  <carousel class="carousel rounded-5 mx-7" [pauseOnFocus]="true">
    <slide class="carousel-slide rounded-5">
      <img
        src="/lisboa.jpeg"
        class="rounded-5 carousel-img"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide class="carousel-slide">
      <img src="/viru.jpeg" class="rounded-5 carousel-img" alt="Second slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide class="carousel-slide">
      <img src="/asia.jpeg" class="rounded-5 carousel-img" alt="Third slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
  </carousel>
</div> -->
